<!-- <ion-header class="ion-hide-lg-up">
  <ion-toolbar color="darkred"  text-uppercase>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Notifications
    </ion-title>
  <ion-buttons slot="end" > 
          <ion-icon name="search"></ion-icon>
    </ion-buttons>
 	     <ion-buttons slot="end">
          <ion-icon name="pin"></ion-icon>
    </ion-buttons>
<ion-buttons slot="end" > 
	<ion-icon user-drop name="contact" (click)="onButtonClickdrop()"></ion-icon>
	
	 </ion-buttons>
  </ion-toolbar>
      <div drop-down-menu *ngIf="buttonClickeddrop">
	              <a routerLink="/your-account"><ion-icon name="person"></ion-icon> My Account</a>
	              <a routerLink="/wishlist"><ion-icon name="heart"></ion-icon>  Wishlist</a>
	              <a routerLink="/cart"><ion-icon name="cart"></ion-icon>  Cart</a>
	              <a routerLink="/notification"><ion-icon name="notifications"></ion-icon> Notification</a>
	   </div>
</ion-header>  -->
<ion-content>
<div class="ion-padding">
	<div header_height></div>
	<div class="container">
	<!-- Breadcrumb Start -->
		<div breadcrumb  class="ion-hide-md-down">		
			<div breadcrumb-inner>
				<ul list-inline list-unstyled>
					<li><a routerLink="/home">Home</a></li>
					<li class="active">Notifications</li>
				</ul>
			</div><!-- /.breadcrumb-inner -->
		</div>
	<!-- Breadcrumb Ends -->
		<div notifications>
			<ion-item (click)="open(notis)" [ngClass]="notis.isRead == 0 ? 'active' : ''" lines="none" *ngFor="let notis of notifications ">
			  <ion-avatar slot="start">
				<img *ngIf="notis.noti_type == 1" src="assets/images/products/bag.png">
				<img *ngIf="notis.noti_type == 2" src="assets/images/products/cross.png">
				<img *ngIf="notis.noti_type == 3" src="assets/images/products/check.png">
			  </ion-avatar>
			  <ion-label>
			  <ng-container *ngIf="notis.noti_type == 1">
				  <h3>Order Placed.</h3>
				  <p>Your order (#{{notis.noti_data}}) has been placed successfully.</p>
			  </ng-container>
			  <ng-container *ngIf="notis.noti_type == 2">
				  <h3>Order Cancelled.</h3>
				  <p>Your order (#{{notis.noti_data}}) has been cancelled.</p>
			  </ng-container>
			  <ng-container *ngIf="notis.noti_type == 3">
				  <h3>Order Delivered.</h3>
				  <p>Your order (#{{notis.noti_data}}) has been delivered successfully.</p>
			  </ng-container>
			  </ion-label>
			  <ion-note>{{notis.created_at | timeAgo}}</ion-note>
			</ion-item>
		</div>
		<div *ngIf="notifications == ''" no_notifications>
			<img src="assets/images/products/no_notifications.png">
			<p>No notifications found</p>
		</div>
	</div>
</div>
<app-footer></app-footer>
</ion-content>
