iframe{
	html{
		overflow: hidden;
	}
}
#video-display video{
    width: 100%;
}
#video-thumbnail img:first-child{
    visibility:hidden;
    height:0px;
}
#video-thumbnail img:last-child{
    object-fit:cover;
    height:100% !important;
}
#video-thumbnail{
    position:absolute;
    bottom: 20px;
    right: 20px;
    width: 120px;
    height: 120px;
    overflow: hidden;
}