<!-- <ion-header class="ion-hide-lg-up">
  <ion-toolbar color="darkred" text-uppercase>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
       FAQ
    </ion-title>
  <ion-buttons slot="end" > 
          <ion-icon name="search"></ion-icon>
    </ion-buttons>
	     <ion-buttons slot="end">
          <ion-icon name="pin"></ion-icon>
    </ion-buttons>
<ion-buttons slot="end" > 
	<ion-icon user-drop name="contact" (click)="onButtonClickdrop()"></ion-icon>
	
	 </ion-buttons>
  </ion-toolbar>
      <div drop-down-menu *ngIf="buttonClickeddrop">
	              <a routerLink="/your-account"><ion-icon name="person"></ion-icon> My Account</a>
	              <a routerLink="/wishlist"><ion-icon name="heart"></ion-icon>  Wishlist</a>
	              <a routerLink="/cart"><ion-icon name="cart"></ion-icon>  Cart</a>
	              <a routerLink="/notification"><ion-icon name="notifications"></ion-icon> Notification</a>
	   </div>
</ion-header>  -->
<ion-content>
<div class="ion-padding">
<div header_height></div>
<!-- Breadcrumb Start -->
		<div breadcrumb  class="ion-hide-md-down">		
				<div breadcrumb-inner>
					<ul list-inline list-unstyled>
					<li><a routerLink="/home">Home</a></li>
						<li class="active">FAQ</li>
					</ul>
				</div><!-- /.breadcrumb-inner -->
		</div>
<!-- Breadcrumb Ends -->
<div checkout-box>
	<ion-card no-margin padding>
	<h2 heading-title class="ion-hide-md-down">Frequently Asked Questions</h2>
	<!-- <span title-tag class="ion-hide-md-down">Last Updated on November 02, 2019</span> -->
	 <h4 mob-head text-center text-uppercase  class="ion-hide-lg-up">
	   Frequently Asked Questions
	 </h4>
		 <div panel panel-default *ngFor="let faq of faqs; let f_ind = index ">
			 <div panel-heading  checkout-head>
				<h4>
				   <a href="javascript:void(0)" [ngClass]="{'active': selectedItem.indexOf('item'+f_ind) >= 0}"  (click)="faqClicked('item'+f_ind)">
					  <span>{{f_ind+1}}</span>  {{faq.questions}}	        
				   </a>
				</h4>					 
			 </div>
			 <div panel-body [ngClass]="{'active': selectedItem.indexOf('item'+f_ind) >= 0}" [innerHTML]="decode(faq.answer)"></div>		 
		</div>	 
		<ion-item *ngIf="faqs == ''">
			<p>No faqs added.</p>
		</ion-item> 							
	</ion-card>
</div>
</div>
<app-footer></app-footer>
</ion-content>