<div class="col-lg-3 col-md-4 col-sm-12" *ngFor="let recent of featured_products ">
	<div class="product-item mb-30">
	   	<div class="product-thumb">
		  <a (click)="productDetails(recent.product_id)">
			<img *ngIf="errors.indexOf(recent.product_image) >= 0" src="assets/images/products/no_image.svg">
			<img *ngIf="errors.indexOf(recent.product_image) == -1" src="{{IMAGES_URL}}/product_images/{{recent.product_image}}" alt="{{recent.product_name}}">
		   </a> 
		  	<div class="box-label">
			 	<div class="label-product label_new" *ngIf="recent?.product_quantity == 0 || errors.indexOf(recent?.product_quantity) >= 0">
			 		<span>Sold out</span>
			 	</div>
		  	</div>
		  
		  	<div class="action-links">
				<ion-button class="bnt" [disabled]="recent?.product_quantity == 0 || errors.indexOf(recent?.product_quantity) >= 0"  *ngIf="my_cart_products.indexOf(recent.product_id) == -1" (click)="addToCart(recent.product_id,recent.product_sale_price,recent.product_purchase_price)" title="Add Cart">
			 		<i class="lnr lnr-magnifier"></i>
			  	</ion-button>
			  	
			  	<ion-button class="bnt" *ngIf="my_cart_products.indexOf(recent.product_id) >= 0" add-to-cart title="Added">
			 		<ion-icon name="checkmark-circle-outline"></ion-icon> 
			  	</ion-button>
			   	
			   	<ion-button class="bnt" *ngIf="my_wish_products.indexOf(recent.product_id) == -1" (click)="addToWish(recent.product_id)" title="Wishlist">
					<i class="lnr lnr-heart"></i>
			  	</ion-button>


		  		<ion-button class="bnt" *ngIf="my_wish_products.indexOf(recent.product_id) >= 0" add-to-cart title="Added">
			 		<i class="red_heart fa fa-heart"></i>
			  	</ion-button>
		  	</div>
			
	   </div>
	   <div class="product-caption">

		  <div class="product-name">
			 <h4><a (click)="productDetails(recent.product_id)">{{recent.product_name}}</a></h4>
		  </div>
		  <div class="ratings">
			<div rating rateit-small>
				<ngx-stars [readonly]="true" [maxStars]="5" [initialStars]="recent?.Average_Review" [color]="'#a01616'"></ngx-stars>
		   </div>
		  </div>
		  <div class="price-box">
			 <span class="regular-price" *ngIf="errors.indexOf(recent.product_sale_price) == -1 && recent.product_sale_price != recent.product_purchase_price" ><span class="special-price">${{recent.product_sale_price}} </span></span>
			 <span class="regular-price" *ngIf="errors.indexOf(recent.product_sale_price) >= 0 || recent.product_sale_price == recent.product_purchase_price">${{recent.product_purchase_price}}</span>
			 <span class="old-price" *ngIf="errors.indexOf(recent.product_sale_price) == -1 && recent.product_sale_price != recent.product_purchase_price" ><del>${{recent.product_purchase_price}}</del></span>
		  </div>
		  <button class="btn-cart" type="button" [disabled]="recent?.product_quantity == 0 || errors.indexOf(recent?.product_quantity) >= 0"  *ngIf="my_cart_products.indexOf(recent.product_id) == -1" (click)="addToCart(recent.product_id,recent.product_sale_price,recent.product_purchase_price)">
		  	add to cart
		  </button>
		  <button class="btn-cart" type="button" *ngIf="my_cart_products.indexOf(recent.product_id) >= 0">
			 <ion-icon name="checkmark"></ion-icon> 
		  </button>
	   </div>
	</div>
 </div>