<ion-content>
	<div class="main-wrapper  home-page">
     	<div class="container-fluid">
            <div class="row">
           	<div class="col-lg-12">
              	<div headmn-sec class="section-title module-three" style="margin:15px 17px !important;">
                     <h3><span>Suggest Any </span> Product</h3>
              	</div>
              	<div class="col-lg-6 col-md-6 col-sm-12" *ngFor="let recent of featured_products " style="float:left;">
                 	<div class="product-item mb-30">
                       	<div class="product-thumb">
                          <a (click)="productDetails(recent.product_id)">
                           <img *ngIf="errors.indexOf(recent.product_image) >= 0" src="assets/images/products/no_image.svg">
                           <img *ngIf="errors.indexOf(recent.product_image) == -1" src="{{IMAGES_URL}}/product_images/{{recent.product_image}}" alt="{{recent.product_name}}">
                           </a> 
                           <div class="box-label">
                              <div class="label-product label_new" *ngIf="recent?.product_quantity == 0 || errors.indexOf(recent?.product_quantity) >= 0">
                                 <span>Sold out</span>
                              </div>
                           </div>
                        </div>
                        <div class="product-caption" style="padding:22px 15px 7px">
                      		<div class="product-name">
                            	<h4><a (click)="productDetails(recent.product_id)">{{recent.product_name}}</a></h4>
                          	</div>
                          
                          	<div class="price-box">
	                            <span class="regular-price" *ngIf="errors.indexOf(recent.product_sale_price) == -1 && recent.product_sale_price != recent.product_purchase_price" ><span class="special-price">${{recent.product_sale_price}} </span></span>
	                            <span class="regular-price" *ngIf="errors.indexOf(recent.product_sale_price) >= 0 || recent.product_sale_price == recent.product_purchase_price">${{recent.product_purchase_price}}</span>
	                            <span class="old-price" *ngIf="errors.indexOf(recent.product_sale_price) == -1 && recent.product_sale_price != recent.product_purchase_price" ><del>${{recent.product_purchase_price}}</del></span>
                          	</div>
                          	
                          	<button class="btn-cart" type="button" (click)="suggestThisProduct(recent.product_id)" style="margin:4px 0 0 0;float: right;position: inherit;">
                           		Suggest
                          	</button>
                        </div>
                     </div>
                   </div>
               </div>
               
            </div>
         </div>
      </div>
</ion-content>