<ion-content>
	<div class="user-login-main">	
		<div class="container-fluid px-0">
			<div class="row no-gutters min-vh-100">
				<div class="col-md-6 col-lg-5 col-xl-4 d-flex flex-column bg-light  user-login-left shadow-lg order-2 order-md-1">
					<div class="user-login-inner">
						<div class="user-login-logo mb-4"> 
							<a href="javascript:void(0)">
							    <img src="assets/img/user-logo.png" class="logo" alt="logo">
							</a> 
							<h2 class="mt-4 forgot-title">Authentication required</h2>
						</div>
						<div class="form-border">
							<h4 class="text-center mb-3 titlecontent">For your security, we've sent an OTP to provided email. Please enter it below to complete the verification.</h4>
							<div form-group>	
								<ion-item lines="none">
									<ion-icon name="mail" class="ion-hide-lg-up"></ion-icon><ion-input  type="number" placeholder="Enter OTP" [(ngModel)]="otp"></ion-input>
								</ion-item>								
							</div>						
							
							<ion-button  expand="full" color="darkred" (click)="validateOTP(otp)" style="position:initial;height: 39px;width: 50%;margin: 0 auto; margin-bottom:1.5rem!important;">Continue</ion-button>

							<p class="register-here-btn">Return to<a routerLink="/forgotpassword" href="javascript:void(0)"> Forgot Password Page</a></p>
						</div>			  			  
					</div> 
				</div>				
				<div mobile-none class="col-md-6 col-lg-7 col-xl-8 order-1 order-md-2">
					<div class="user-hero-wrap d-flex align-items-center h-100">
						<div class="user-hero-bg user-hero-bg-scroll"></div>
							<!--div class="user-login-hero-content mx-auto w-100 h-100 d-flex flex-column">
								<div class="row no-gutters my-auto py-5">
									<div class="col-10 col-lg-9 mx-auto text-center"> 	 
									</div>
								</div>
							</div-->
					</div>					
				</div>
			</div>
		</div>	
	</div>
</ion-content>


