
<ion-content>
		<app-header ></app-header>

<div   class="ion-padding">
<div header_height></div>
<!-- Breadcrumb Start -->

<div breadcrumb  class="ion-hide-md-down">		
	<div breadcrumb-inner>
		<ul list-inline list-unstyled style='margin:0 0 15px 0'>
		    <li style="float:left;margin:0 10px 0 0">
		    	<a routerLink="/blog">Home</a></li>
			<li class="active"> Privacy Policy</li>
		</ul>
	</div><!-- /.breadcrumb-inner -->
</div>
<!-- Breadcrumb Ends -->
<!-- Privacy Section  Start -->
		<div privacy-page>
		   <ion-row>
				<ion-col terms-conditions size="12" no-padding>
				   <div [innerHTML]="page"></div>
			   </ion-col>		
			</ion-row><!-- /.row -->
		</div>
</div>
<!-- Privacy Section  Ends -->
<app-footer></app-footer>
</ion-content>
