<ion-content>
	<div class="user-login-main">	
		<div class="container-fluid px-0">
			<div class="row no-gutters min-vh-100">
				<div class="col-md-6 col-lg-5 col-xl-4 d-flex flex-column bg-light  user-login-left shadow-lg order-2 order-md-1">
					<div class="user-login-inner">
						<div class="user-login-logo mb-4"> 
							<a href="javascript:void(0)">
							    <img src="assets/img/user-logo.png" class="logo" alt="logo">
							</a> 
							<h2 class="mt-4 forgot-title">Forgot password?</h2>
						</div>
						<div class="form-border">
							<h4 class="text-center mb-3 titlecontent">Enter the email address associated with your account.</h4>
							<div form-group>	
								<ion-item lines="none">
									<ion-input  type="email" placeholder="Email Address" [(ngModel)]="email"></ion-input>
								</ion-item>								
							</div>						
							<!--div class="form-group">						
							    <input type="email" class="form-control" id="emailAddress" required="" placeholder="Enter Email or Mobile Number">
							</div-->																
							<button class="btn btn-primary btn-block text-uppercase my-4" type="submit" (click)="sendEmail(email)">Continue</button>
							<p class="register-here-btn">Return to<a routerLink="/login" href="javascript:void(0)"> Login</a></p>
						</div>			  			  
					</div> 
				</div>				
				<div mobile-none class="col-md-6 col-lg-7 col-xl-8 order-1 order-md-2">
					<div class="user-hero-wrap d-flex align-items-center h-100">
						<div class="user-hero-bg user-hero-bg-scroll"></div>
							<!--div class="user-login-hero-content mx-auto w-100 h-100 d-flex flex-column">
								<div class="row no-gutters my-auto py-5">
									<div class="col-10 col-lg-9 mx-auto text-center"> 	 
									</div>
								</div>
							</div-->
					</div>					
				</div>
			</div>
		</div>	
	</div>
</ion-content>