<button class="btnclose-pop" (click)="close()" type="button" end><ion-icon name="close"></ion-icon></button>
<div class="overlay" style="">
	<img src="assets/images/modal2.jpg" alt="">
	<div class="text-center" style="color:#23303e;position: absolute; left: 50%; transform: translate(-50%, -50%); top: 50%; bottom: initial;background:rgba(0,0,0.50);padding:20px 15px">
		<h3 style="font-size:34px" class=" p-b-10">WELCOME TO OUR STORE</h3>
		<p style="font-size:34px; font-weight: 600" class="flat-off p-b-10">Flat 10% Off</p>
		<p class="usecouponcode p-b-10" style="font-size:16px">Use Coupon Code &nbsp;<strong>get10off</strong></p>
		<a (click)="productsDetails()" class="btn btn-primary">
			Shop Now
		</a> 
	</div>
</div>
