<button class="btnclose-pop" (click)="close()" type="button" end style="position:fixed;right:0">
	<ion-icon name="close"></ion-icon>
</button>
<div class="overlay" style="background:#000;padding:60px;float:left;width: 100%">
	<h1 style="font-size: 30px;color: #fff;border-bottom: 1px solid;margin: 0 0 10px 0;">
		Please select your interest
	</h1>

	<ion-item *ngFor="let cat of categories;">
    	<ion-label>{{cat?.cat_name}}</ion-label>
    	<ion-checkbox color="dark" [(ngModel)]="cat.checked"></ion-checkbox>
	</ion-item>

	<!-- <div *ngFor="let cat of categories;" style="float:left;margin:0 20px 0 0;width: 25%">
		<h3 class=" p-b-10">
			<input name="cat[]" type="checkbox" value="{{cat?.cat_id}}" style="margin:0 5px 0 0">
			{{cat?.cat_name}}
		</h3>
	</div> -->

	<div style="clear: both;margin: 25px 0 0 0;position: relative;display: inline-block;width: 100%;">
		<a href="javascript:void(0)" class="btn-md btn-theme btn-block" (click)="login(cat)"style="background: #4e7f9a;color: #fff;width: 30%;margin: 0 auto;padding: 7px 0px;text-align: center;">
			Submit Your Interest
		</a>
	</div>
</div>
