
<ion-content>
	<app-header ></app-header>
	<div header_height></div>
	
	<div class="ion-padding">
		<div class="container">
            <div class="row">
              <div class="col-md-12 col-lg-12">
			  
				<!-- 	 <div class="user-panel-back-btn"> 
		<a href="index.html" class="btn"><i class="fa fa-arrow-left"></i> Back </a>
	   </div> -->
                  <div class="content-wraper message-chat">
                  
					 
					<div class="chat-main-row">
							<aside>
		<header>
			<input type="text" placeholder="search">
		</header>
		<ul>
			<li>
				<img src="assets/img/post-2.png" alt="">
				<div>
					<h2>Rashid Samim</h2>
					<h4>
						<span class="status orange"></span>
						offline
					</h4>
				</div>
			</li>
			<li>
				<img src="assets/img/post-1.png" alt="">
				<div>
					<h2>Prénom Nom</h2>
					<h4>
						<span class="status green"></span>
						online
					</h4>
				</div>
			</li>
			
			<li>
				<img src="assets/img/post-2.png" alt="">
				<div>
					<h2>Nargis Hawa</h2>
					<h4>
						<span class="status orange"></span>
						offline
					</h4>
				</div>
			</li>
			<li>
				<img src="assets/img/post-1.png" alt="">
				<div>
					<h2>Sami Rafi</h2>
					<h4>
						<span class="status green"></span>
						online
					</h4>
				</div>
			</li>
			
			<li>
				<img src="assets/img/post-4.jpg" alt="">
				<div>
					<h2>Taherah Big</h2>
					<h4>
						<span class="status orange"></span>
						offline
					</h4>
				</div>
			</li>
			<li>
				<img src="assets/img/post-3.jpg" alt="">
				<div>
					<h2>Khalid</h2>
					<h4>
						<span class="status green"></span>
						online
					</h4>
				</div>
			</li>
			
			
			
		</ul>
	</aside>
	<main>
		
		<div class="jumbotron m-0 p-0 bg-transparent">
		<div class="row m-0 p-0 position-relative">
		  <div class="col-12 p-0 m-0" style="right: 0px;">
			<div class="card border-0 rounded" style="box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10), 0 6px 10px 0 rgba(0, 0, 0, 0.01);">

			  <div class="card-header msg_head">
							<div class="d-flex bd-highlight align-items-center">
								<div class="img_cont">
									<img src="assets/img/post-1.png" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>Prénom Nom</span>
									<p>67 Messages</p>
								</div>
								
							</div>
							
							
						</div>
			
				<div class="card bg-sohbet border-0 m-0 p-0">
			  <div id="sohbet" class="card border-0 m-0 p-0 position-relative bg-transparent">
			
				<div class="balon1 p-2 m-0 position-relative" data-is="You - 3:20 pm">
				
					<a class="float-right"> Hey there! What's up? </a>
				  
				</div>
				
				<div class="balon2 p-2 m-0 position-relative" data-is="Yusuf - 3:22 pm">
				
					<a class="float-left sohbet2"> Lorem Ipsum is simply dummy.. </a>
				  
				</div>
				
				<div class="balon1 p-2 m-0 position-relative" data-is="You - 3:23 pm">
				
					<a class="float-right"> It is a long established fact that a reader </a>
				  
				</div>
				
				<div class="balon2 p-2 m-0 position-relative" data-is="Yusuf - 3:26 pm">
				
					<a class="float-left sohbet2"> There are many variations of passages of Lorem Ipsum </a>
				  
				</div>
				
				<div class="balon1 p-2 m-0 position-relative" data-is="You - 3:28 pm">
				
					<a class="float-right"> Contrary to popular belief, Lorem Ipsum </a>
				  
				</div>
				
				<div class="balon2 p-2 m-0 position-relative" data-is="Yusuf - 3:33 pm">
				
					<a class="float-left sohbet2"> The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</a>
				  
				</div>

			  </div>
			  </div>
			<div class="chat-footer">
                    <form>
                        <input type="text" class="form-control chat_form" placeholder="Write a message.">
                        <div class="form-buttons">
                              <a class="messageattach">
                                <i class="fa fa-paperclip"></i>
                            </a>
                            <button class="btn send-btn" type="submit">
                                <img style="height:20px" src="assets/img/send.png">
                            </button>
                        </div>
                    </form>
                </div>
			

			</div>
		  </div>
		  
		</div>
	  </div>

		
	</main>
					</div>
                  </div>
               </div>
            </div>
         </div>
	</div>

	<!-- <div class="ion-padding">
		<div header_height></div>
		<div breadcrumb  class="ion-hide-md-down">		
			<div breadcrumb-inner>
				<ul list-inline list-unstyled style='margin:0 0 15px 0'>
					    <li style="float:left;margin:0 10px 0 0">
					    	<a routerLink="/home">Home</a></li>
					<li class="active">messages</li>
				</ul>
			</div>
		</div>

	   	<ion-row>
		   <ion-col size-lg="4" size-md="3">
		   		<div class="headind_srch">
					<div class="recent_heading">
					  <h4>Recent</h4>
					</div>
					<div class="srch_bar">
					  <div class="stylish-input-group">
						<input type="text" class="search-bar"  placeholder="Search" >
						</div>
					</div>
				</div>

				<div class="inbox_chat scroll" *ngFor="let user of chat_users">
					<div class="chat_list active_chat" (click)="getChat(user)">
					  <div class="chat_people">
						<div class="chat_img"> 
							<img *ngIf="errors.indexOf(user?.profile_picture) >= 0" src="assets/images/default.png">
							<img *ngIf="errors.indexOf(user?.profile_picture) == -1" src="{{IMAGES_URL}}/userprofile/{{user?.profile_picture}}">
						</div>
						<div class="chat_ib">
						  <h5>{{user.to_user_type}} <span class="chat_date">{{user.created_at | timeAgo}}</span></h5>
						  <p>{{user.message}}</p>
						</div>
					  </div>
					</div>
				</div>

		    </ion-col>
			<ion-col size-lg="8" size-md="9">
				<div messages-list>	
					<ng-container *ngIf="is_chat_window == true">					
						<ng-container *ngIf="is_chat_loaded == true">				
							<div chat-head class="ion-hide-sm-down">				
								<h3 chat-title> name name </h3>
							</div>	
		                    <div top-chat>
		                    	<ng-container *ngFor="let chat of chat_list">		
								<ion-item lines="none" [ngClass]="chat.from_user_id == userId ? 'chat-right' : 'chat-left'" no-padding>
									<ion-avatar slot="{{chat.from_user_id == userId ? 'end' : 'start'}}">
										<ng-container *ngIf="chat.from_user_id == userId">
											<img *ngIf="errors.indexOf(chat?.user_profile_picture) >= 0" src="assets/images/default.png">
											<img *ngIf="errors.indexOf(chat?.user_profile_picture) == -1" src="{{IMAGES_URL}}/userprofile/{{chat?.user_profile_picture}}">
										</ng-container>
										<ng-container *ngIf="chat.from_user_id != userId">
											<img *ngIf="errors.indexOf(chat?.profile_picture) >= 0" src="assets/images/default.png">
											<img *ngIf="errors.indexOf(chat?.profile_picture) == -1" src="{{IMAGES_URL}}/{{chat?.from_user_type == 'vendor' ? 'vendors' : 'sub_users'}}/{{chat?.profile_picture}}">
										</ng-container>
									</ion-avatar>
									<ion-label>
										<p>{{chat.message}}</p>
										<ion-note><ion-icon name="timer"></ion-icon> {{chat.created_at | timeAgo}}</ion-note>
									</ion-label>
								</ion-item>
								</ng-container>
							</div>
							<div chat-bottom class="ion-hide-sm-down">
								<form (ngSubmit)="addChat(message)" name="chat_form_web">
									<ion-input [(ngModel)]="message" name="message" placeholder="Send a Message"></ion-input>
									<ion-button type="submit" color="darkred" style='position:initial;'> <ion-icon name="paper-plane"></ion-icon></ion-button>
								</form>
							</div>
						</ng-container>
						<ng-container *ngIf="is_chat_loaded == false">
							<div top-chat>				
								<h3 chat-title> Loading chat... </h3>
							</div>
						</ng-container>
					</ng-container>
					<ng-container *ngIf="is_chat_window == false">
						<div top-chat>				
							<h3 chat-title> Click on users list to chat... </h3>
						</div>
					</ng-container>
				</div>
			</ion-col>
	 	</ion-row>	
		<ion-footer class="ion-hide-md-up">	
			<form (ngSubmit)="addChat(message)" name="chat_form">
				<div chat-bottom>            
					<ion-icon attach-icon name="attach"></ion-icon>
					<ion-input [(ngModel)]="message" name="message" placeholder="Send a Message"></ion-input>
					<ion-button type="submit" color="darkred"> <ion-icon name="paper-plane"></ion-icon></ion-button>
				</div>
			</form>	 
		</ion-footer>
	</div> -->
	<app-footer></app-footer>								 
</ion-content>
