<!-- <ion-header class="ion-hide-lg-up">
  <ion-toolbar color="darkred" text-uppercase>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        Sell On Siniyetu
    </ion-title>
  <ion-buttons slot="end" > 
          <ion-icon name="search"></ion-icon>
    </ion-buttons>
	     <ion-buttons slot="end">
          <ion-icon name="pin"></ion-icon>
    </ion-buttons>
<ion-buttons slot="end" > 
	<ion-icon user-drop name="contact" (click)="onButtonClickdrop()"></ion-icon>
	
	 </ion-buttons>
  </ion-toolbar>
      <div drop-down-menu *ngIf="buttonClickeddrop">
	              <a routerLink="/your-account"><ion-icon name="person"></ion-icon> My Account</a>
	              <a routerLink="/wishlist"><ion-icon name="heart"></ion-icon>  Wishlist</a>
	              <a routerLink="/cart"><ion-icon name="cart"></ion-icon>  Cart</a>
	              <a routerLink="/notification"><ion-icon name="notifications"></ion-icon> Notification</a>
	   </div>
</ion-header>  -->
<ion-content>
<div header_height></div>
<!-- <div header-inner class="ion-hide-lg-up">
<ion-row>

<ion-col size="12">
<ion-searchbar></ion-searchbar>
</ion-col>
</ion-row> -->
<!-- <div delivery-location (click)="presentModal()">
<ion-icon name="pin"></ion-icon> Deliver To Chandigarh 160022 <ion-icon name="arrow-down"></ion-icon>
</div> -->
<!-- </div> -->
<!-- Banner Start -->
	<div sell-banner text-center style="background: url(assets/images/sliders/05.jpg) no-repeat center;">
			<div sell-banner-content> 
				<div slider-header>Top Brands</div>
				<div big-text>Over 30% of our profits come <br>from selling on Siniyetu.</div>
				<div button-holder>
				   <ion-button routerLink="/vendor-request" color="darkred">Start Selling</ion-button>
				</div>
			</div>
	</div>
<!--  Banner Ends  -->
<!-- Start selling on Siniyetu today Start -->
<div class="container-fluid">
    <div returns-page> 
	   <h3 section-title class="ion-hide-md-down">Start selling on Siniyetu today</h3>
        <h4 mob-head text-center text-uppercase class="ion-hide-lg-up">
					Start selling on Siniyetu today
					</h4>
	   <ion-row>
			  <ion-col size-lg="4" size-md="4" size-sm="6" size="12">
				 <div widget-return>
				    <img class="ion-hide-lg-up " image-icon src="assets/images/icon1.png"/>
					<h3 section-title>Reach hundreds of millions of customers</h3>
				
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<ion-button color="darkred">Return Items</ion-button>
				 </div>
			  </ion-col>
			   <ion-col  size-lg="4" size-md="4" size-sm="6" size="12">
				 <div widget-return>
				    <img class="ion-hide-lg-up" image-icon src="assets/images/icon2.png"/>
					<h3 section-title>Let us do the heavy lifting</h3>
			
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<ion-button color="darkred">Manage Returns</ion-button>
				 </div>
			  </ion-col>
			   <ion-col  size-lg="4" size-md="4" size-sm="6" size="12">
				 <div widget-return>
				    <img class="ion-hide-lg-up" image-icon src="assets/images/icon3.png"/>
					<h3 section-title>Get your products seen by more shoppers</h3>
				
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<ion-button color="darkred">Manage Returns</ion-button>
				 </div>
			  </ion-col>
	  </ion-row>
   <!--   Wide Banners Start-->
      <div wide-banners> 
	      <div wide-banner>
		     <div image>
     			 <ion-img class="img-responsive" src="assets/images/parcels-packages.jpg"></ion-img>				
			  </div>
			  <div strip strip-text>
                  <div strip-inner>
                    <h2 text-right>Ready to sell ?<br>
                      <span shopping-needs>Earn up to 40% profit</span></h2>
                  </div>
                </div>
		  </div> 
	  </div>
   <!--   Wide Banners Ends-->
   <!--Other Sec Start-->
   <div other-sec>
	    <h3 section-title>Just have a few items to sell? <a>Sign up to become an individual seller</a></h3>
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br><br>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
   <!--Other Sec Ends-->
   </div>
</div>	
<!-- Start selling on Siniyetu today Ends -->
<app-footer></app-footer>
</ion-content>
