<ion-content>
<app-header ></app-header>
		<div class="logo-rating-sec">	
			<ion-row>
				 <ion-col size="12" class="ion-text-right ion-align-self-center">
					<div class="header-call-action menu-right">
						<ul class="menu-right-ul">
							<li><a href="javascript:void(0)"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
							<li><a href="javascript:void(0)"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
							<li><a href="javascript:void(0)"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
						</ul>
						<ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Flag">
							<ion-select-option value="Flag-1">Flag-1</ion-select-option>
							<ion-select-option value="Flag-2">Flag-2</ion-select-option>
							<ion-select-option value="Flag-3">Flag-3</ion-select-option>
							<ion-select-option value="Flag-4">Flag-4</ion-select-option>
						</ion-select>
					</div>
				</ion-col>
			</ion-row>
		</div>

   	

      <div class="main-wrapper  home-page">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-12">
                  <div headmn-sec class="section-title module-three" style="margin-left: 20px;">
                     <h3><span>Best Selling </span> Products</h3>
                  </div>
                  <!-- <div>
						   <app-featured-products class="row" style="width: 99%;margin: 0 auto;"></app-featured-products>
                  </div> -->

                  <div class="col-lg-3 col-md-4 col-sm-12" *ngFor="let recent of featured_products " style="float:left;">
                     <div class="product-item mb-30">
                           <div class="product-thumb">
                          <a (click)="productDetails(recent.product_id)">
                           <img *ngIf="errors.indexOf(recent.product_image) >= 0" src="assets/images/products/no_image.svg">
                           <img *ngIf="errors.indexOf(recent.product_image) == -1" src="{{IMAGES_URL}}/product_images/{{recent.product_image}}" alt="{{recent.product_name}}">
                           </a> 
                           <div class="box-label">
                              <div class="label-product label_new" *ngIf="recent?.product_quantity == 0 || errors.indexOf(recent?.product_quantity) >= 0">
                                 <span>Sold out</span>
                              </div>
                           </div>
                          
                           <div class="action-links">
                              <ion-button class="bnt" [disabled]="recent?.product_quantity == 0 || errors.indexOf(recent?.product_quantity) >= 0"  *ngIf="my_cart_products.indexOf(recent.product_id) == -1" (click)="addToCart(recent.product_id,recent.product_sale_price,recent.product_purchase_price)" title="Add Cart">
                                 <i class="lnr lnr-magnifier"></i>
                              </ion-button>
                              
                              <ion-button class="bnt" *ngIf="my_cart_products.indexOf(recent.product_id) >= 0" add-to-cart title="Added">
                                 <ion-icon name="checkmark-circle-outline"></ion-icon> 
                              </ion-button>
                                 
                                 <ion-button class="bnt" *ngIf="my_wish_products.indexOf(recent.product_id) == -1" (click)="addToWish(recent.product_id)" title="Wishlist">
                                 <i class="lnr lnr-heart"></i>
                              </ion-button>


                              <ion-button class="bnt" *ngIf="my_wish_products.indexOf(recent.product_id) >= 0" add-to-cart title="Added">
                                 <i class="red_heart fa fa-heart"></i>
                              </ion-button>
                           </div>
                           
                        </div>
                        <div class="product-caption">

                          <div class="product-name">
                            <h4><a (click)="productDetails(recent.product_id)">{{recent.product_name}}</a></h4>
                          </div>
                          <div class="ratings">
                           <div rating rateit-small>
                              <ngx-stars [readonly]="true" [maxStars]="5" [initialStars]="recent?.Average_Review" [color]="'#a01616'"></ngx-stars>
                           </div>
                          </div>
                          <div class="price-box">
                            <span class="regular-price" *ngIf="errors.indexOf(recent.product_sale_price) == -1 && recent.product_sale_price != recent.product_purchase_price" ><span class="special-price">${{recent.product_sale_price}} </span></span>
                            <span class="regular-price" *ngIf="errors.indexOf(recent.product_sale_price) >= 0 || recent.product_sale_price == recent.product_purchase_price">${{recent.product_purchase_price}}</span>
                            <span class="old-price" *ngIf="errors.indexOf(recent.product_sale_price) == -1 && recent.product_sale_price != recent.product_purchase_price" ><del>${{recent.product_purchase_price}}</del></span>
                          </div>

                          <!-- <div style="float:left;width:100%"> -->
                            <button class="btn-cart" type="button" [disabled]="recent?.product_quantity == 0 || errors.indexOf(recent?.product_quantity) >= 0"  *ngIf="my_cart_products.indexOf(recent.product_id) == -1" (click)="addToCart(recent.product_id,recent.product_sale_price,recent.product_purchase_price)" style="float:left;width: auto;">
                             add to cart
                            </button>
                            <button class="btn-cart" type="button" *ngIf="my_cart_products.indexOf(recent.product_id) >= 0" style="float:left;width: auto;">
                              <ion-icon name="checkmark"></ion-icon> 
                            </button>

                            <button class="btn-cart" type="button" (click)="suggestThisProduct(recent.product_id)" style="float: right;width: auto;margin: 0 0 0 50%;" *ngIf="goForSuggestPost != '' && goForSuggestPost != 'undefined' && goForSuggestPost != null">
                                Suggest
                            </button>
                          <!-- </div> -->
                        </div>
                     </div>
                   </div>
               </div>
               
            </div>
         </div>
      </div>

      <div home-cate-sec>
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div headmn-sec class="section-title module-three" style="margin-top:0">
                     <h3><span>Recommended </span> Products</h3>
                  </div>
               </div>
               
               <div class="col-lg-12">
                  <!-- <button type="submit" float-left ion-button class="btnPrev" (click)="prev1()"><ion-icon name="arrow-back"></ion-icon></button>
                  <button type="submit" float-right ion-button class="btnNext" (click)="next1()"><ion-icon name="arrow-forward"></ion-icon></button>  -->     
                  
                  <ion-slides pager [options]="slideOpts2" #slides>
                     <ion-slide *ngFor="let recent of upsell_products">       
                        <div class="product-item mb-30">
                           <div class="product-thumb">
                              <div (click)="productDetailPage(recent?.product_id)">
                                 <img src="{{proImage_url}}{{recent?.product_image}}" alt="" />
                              </div>
                              <div class="box-label">
                                 <div class="label-product label_new" *ngIf="recent?.product_quantity == 0 || errors.indexOf(recent?.product_quantity) >= 0">
                                    <span>Sold out</span>
                                 </div>
                              </div>
                              <div class="action-links">
                                 <ion-button class="bnt" [disabled]="recent?.product_quantity == 0 || errors.indexOf(recent?.product_quantity) >= 0"  *ngIf="my_cart_products.indexOf(recent.product_id) == -1" (click)="addToCart(recent.product_id,recent.product_sale_price,recent.product_purchase_price)" title="Add Cart">
                                    <i class="lnr lnr-magnifier"></i>
                                 </ion-button>
                                 
                                 <ion-button class="bnt" *ngIf="my_cart_products.indexOf(recent.product_id) >= 0" add-to-cart title="Added">
                                    <ion-icon name="checkmark-circle-outline"></ion-icon> 
                                 </ion-button>
                                    
                                    <ion-button class="bnt" *ngIf="my_wish_products.indexOf(recent.product_id) == -1" (click)="addToWish(recent.product_id)" title="Wishlist">
                                    <i class="lnr lnr-heart"></i>
                                 </ion-button>


                                 <ion-button class="bnt" *ngIf="my_wish_products.indexOf(recent.product_id) >= 0" add-to-cart title="Added">
                                    <i class="red_heart fa fa-heart"></i>
                                 </ion-button>
                              </div>
                           </div>

                           <div class="product-caption" style="height:150px;"> 
                              
                              <div class="product-name">
                               <h4><a (click)="productDetails(recent.product_id)">{{recent.product_name}}</a></h4>
                              </div>
                              <div class="ratings">
                              <div rating rateit-small>
                                 <ngx-stars [readonly]="true" [maxStars]="5" [initialStars]="recent?.Average_Review" [color]="'#a01616'"></ngx-stars>
                              </div>
                              </div>
                              <div class="price-box">
                               <span class="regular-price" *ngIf="errors.indexOf(recent.product_sale_price) == -1 && recent.product_sale_price != recent.product_purchase_price" ><span class="special-price">${{recent.product_sale_price}} </span></span>
                               <span class="regular-price" *ngIf="errors.indexOf(recent.product_sale_price) >= 0 || recent.product_sale_price == recent.product_purchase_price">${{recent.product_purchase_price}}</span>
                               <span class="old-price" *ngIf="errors.indexOf(recent.product_sale_price) == -1 && recent.product_sale_price != recent.product_purchase_price" ><del>${{recent.product_purchase_price}}</del></span>
                              </div>
                              <button class="btn-cart" type="button" [disabled]="recent?.product_quantity == 0 || errors.indexOf(recent?.product_quantity) >= 0"  *ngIf="my_cart_products.indexOf(recent.product_id) == -1" (click)="addToCart(recent.product_id,recent.product_sale_price,recent.product_purchase_price)" style="position: inherit;bottom:73px!important;">add to cart</button>

                              <button class="btn-cart" type="button" *ngIf="my_cart_products.indexOf(recent.product_id) >= 0" style="position: inherit;bottom:73px!important;">
                               <ion-icon name="checkmark"></ion-icon> 
                              </button>

                              <button class="btn-cart" type="button" (click)="suggestThisProduct(recent.product_id)" style="margin:4px 0 0 0;position: inherit;bottom:73px!important;">
                                  Suggest
                              </button>

                           </div>
                        </div>
                     </ion-slide>
                  </ion-slides>           
               </div>
            </div>
         </div>
      </div>

      <!-- <div home-cate-sec>
          <div class="container">
             <div class="row">
               <div class="col-lg-12">
                  <div headmn-sec class="section-title module-three" style="margin-top:0">
                     <h3><span>New </span> Shops</h3>
                  </div>
               </div>
               
               <div class="col-lg-12">
                  <ion-slides *ngIf="sellers?.length > 6" pager [options]="slideOpts8" #slides1>
                     <ion-slide *ngFor="let shop of sellers">       
                        <div class="product-item mb-30">
                           <div class="product-thumb">
                              <div (click)="productDetailPage(recent?.product_id)">
                                 <img src="{{proImage_url}}{{shop?.profile_picture}}" alt="" />
                              </div>
                              <div class="box-label">
                                 
                              </div>
                           </div>

                           <div class="product-caption">
                              <div class="product-name">
                                 <h4>
                                    <a>
                                       {{shop.shop_name}}
                                    </a>
                                 </h4>
                              </div>
                           </div>
                        </div>
                     </ion-slide>
                  </ion-slides>
                  <div *ngIf="sellers?.length < 6">
                     <div *ngFor="let shop of sellers" style="float: left;width: 17%;margin: 0 5px 0 0;">       
                        <div class="product-item mb-30">
                           <div class="product-thumb">
                              <div (click)="productDetailPage(recent?.product_id)">
                                 <img src="{{proImage_url}}{{shop?.profile_picture}}" alt="" style="width:100%" />
                              </div>
                              <div class="box-label">
                                 
                              </div>
                           </div>

                           <div class="product-caption" style="text-align:center;">
                              <div class="product-name">
                                 <h4>
                                    <a>
                                       {{shop.shop_name}}
                                    </a>
                                 </h4>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>           
               </div>
            </div>
         </div>
      </div> -->

      <div home-cate-sec>
          <div class="container">
             <div class="row">
               <div class="col-lg-12">
                  <div headmn-sec class="section-title module-three" style="margin-top:0">
                     <h3><span>Newly Added </span> Products</h3>
                  </div>
               </div>
               
               <div class="col-lg-12">
                 <!--  <button type="submit" float-left ion-button class="btnPrev" (click)="prev()"><ion-icon name="arrow-back"></ion-icon></button>
                  <button type="submit" float-right ion-button class="btnNext" (click)="next()"><ion-icon name="arrow-forward"></ion-icon></button>  -->     
                  
                  <ion-slides pager [options]="slideOpts1" #slides>
                     <ion-slide *ngFor="let recent of new_products">       
                        <div class="product-item mb-30">
                           <div class="product-thumb">
                              <div (click)="productDetailPage(recent?.product_id)">
                                 <img src="{{proImage_url}}{{recent?.product_image}}" alt="" />
                              </div>
                              <div class="box-label">
                                 <div class="label-product label_new" *ngIf="recent?.product_quantity == 0 || errors.indexOf(recent?.product_quantity) >= 0">
                                    <span>Sold out</span>
                                 </div>
                              </div>
                              <div class="action-links">
                                 <ion-button class="bnt" [disabled]="recent?.product_quantity == 0 || errors.indexOf(recent?.product_quantity) >= 0"  *ngIf="my_cart_products.indexOf(recent.product_id) == -1" (click)="addToCart(recent.product_id,recent.product_sale_price,recent.product_purchase_price)" title="Add Cart">
                                    <i class="lnr lnr-magnifier"></i>
                                 </ion-button>
                                 
                                 <ion-button class="bnt" *ngIf="my_cart_products.indexOf(recent.product_id) >= 0" add-to-cart title="Added">
                                    <ion-icon name="checkmark-circle-outline"></ion-icon> 
                                 </ion-button>
                                    
                                    <ion-button class="bnt" *ngIf="my_wish_products.indexOf(recent.product_id) == -1" (click)="addToWish(recent.product_id)" title="Wishlist">
                                    <i class="lnr lnr-heart"></i>
                                 </ion-button>


                                 <ion-button class="bnt" *ngIf="my_wish_products.indexOf(recent.product_id) >= 0" add-to-cart title="Added">
                                    <i class="red_heart fa fa-heart"></i>
                                 </ion-button>
                              </div>
                           </div>

                           <div class="product-caption" style="height:150px;"> 
                              
                              <div class="product-name">
                               <h4><a (click)="productDetails(recent.product_id)">{{recent.product_name}}</a></h4>
                              </div>
                              <div class="ratings">
                              <div rating rateit-small>
                                 <ngx-stars [readonly]="true" [maxStars]="5" [initialStars]="recent?.Average_Review" [color]="'#a01616'"></ngx-stars>
                              </div>
                              </div>
                              <div class="price-box">
                               <span class="regular-price" *ngIf="errors.indexOf(recent.product_sale_price) == -1 && recent.product_sale_price != recent.product_purchase_price" ><span class="special-price">${{recent.product_sale_price}} </span></span>
                               <span class="regular-price" *ngIf="errors.indexOf(recent.product_sale_price) >= 0 || recent.product_sale_price == recent.product_purchase_price">${{recent.product_purchase_price}}</span>
                               <span class="old-price" *ngIf="errors.indexOf(recent.product_sale_price) == -1 && recent.product_sale_price != recent.product_purchase_price" ><del>${{recent.product_purchase_price}}</del></span>
                              </div>
                              <button class="btn-cart" type="button" [disabled]="recent?.product_quantity == 0 || errors.indexOf(recent?.product_quantity) >= 0"  *ngIf="my_cart_products.indexOf(recent.product_id) == -1" (click)="addToCart(recent.product_id,recent.product_sale_price,recent.product_purchase_price)" style="position: inherit;bottom:73px!important;">add to cart</button>

                              <button class="btn-cart" type="button" *ngIf="my_cart_products.indexOf(recent.product_id) >= 0" style="position: inherit;bottom:73px!important;">
                               <ion-icon name="checkmark"></ion-icon> 
                              </button>

                              <button class="btn-cart" type="button" (click)="suggestThisProduct(recent.product_id)" style="margin:4px 0 0 0;position: inherit;bottom:73px!important;">
                                  Suggest
                              </button>

                           </div>
                        </div>
                     </ion-slide>
                     
                  </ion-slides>           
               </div>
            </div>
         </div>
      </div>
      <br/>

<app-footer></app-footer>
</ion-content>
